# '*' => cualquier archivo en el repositorio con esa extension
#archivos comprimidos
*.mp4
*.mp3
*.jpg
*.png
*.ico

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


#configuracion y cache
config.py
app_deprecated.py
test.py
x.py
script.js
config.js

# '/' => en relaccion a la ubicacion de .gitignore
/html/deprecated
/__pycache__
/api/__pycache__
/api/.vscode