*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-image: url('../images/fondito3.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100vh;
	font-family: 'calibri';
	color: rgb(46, 46, 46);
}

.general{
	width: 400px;
	border-radius: 4px;
	box-shadow: 10px 10px 20px rgb(101, 144, 173);

	padding: 30px;
	margin: 50px auto;

	background: #ffffff;
}

.titulo{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 22px;
	
	color: rgb(65, 65, 65);
}

.Inputs input[type=button]{
	width: 100%;
	border-radius: 4px;
	
	padding: 10px;
	border: 1px solid #ffffff;
	margin: 8px auto;
	
	font-family: 'calibri';
	font-size: 18px;
}

.Inputs select,input{
	width: 100%;
	border-radius: 4px;
	
	padding: 10px;
	border: 1px solid #ffffff;
	margin: 8px auto;
	
	font-family: 'calibri';
	font-size: 18px;
	
	background: #d8eef5;
}

.Inputs input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    color: -internal-light-dark(black, white) !important;
}

.cliqueable{
	text-align: center;
	font-size: 18px;
	
	margin: 8px auto;
}

.cliqueable a{
	color: rgb(68, 116, 248);
	text-decoration: none;
}

.cliqueable a:hover{
	color: rgb(103, 44, 212);
	text-decoration: underline;
}

.botones{
	width: 100%;
	
	padding: 12px;
	border: none;
	margin: 8px 0;
	
	color: white;
	font-size: 16px;
	
	background: #60c7c1;
}

.botones:hover{
	background: #58b4bb;
}