html{
    background-image: url('../images/fondito3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

body{
    font-family: arial, helvetica;
    background: #e8e8e8;
    background-image: url('descarga.jfif');
}

header{
    width: 100%;
    background: #60c7c1;
}

.menu{
    list-style: none;
    padding: 0;
    background: #ffffff00;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu u1{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li{
    display: inline-block;
    text-align: center;
    flex-grow: 1;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}

.menu li a:hover{
    background: #589fbb88;
}

@media(max-width:768px){
    header label{
        display: block;
    }
    menu{
        position: absolute;
        background: #4e94ab;
        width: 70%;
        margin-left: -70%;
    }
    .menu u1{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
}