*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: url('../images/fondito3.jpg');
}
.general{
	width: 400px;
	background: #ffffff;
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	border-radius: 4px;
	font-family: 'calibri';
	color: rgb(46, 46, 46);
	box-shadow: 7px 13px 37px rgb(0, 0, 0);
}

.general h2{
	font-size: 22px;
	margin-bottom: 20px; 
	text-align: center;
	color: rgb(65, 65, 65);
}
.Inputs{
	width: 100%;
	background: #d8eef5;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #ffffff;
	font-family: 'calibri';
	font-size: 18px;
}
.general p{
	height: 40px;
	text-align: center;
	font-size: 18px;
}

.general a{
	color: rgb(68, 71, 248);
	text-decoration: none;
}
.general a:hover{
	color: rgb(5, 27, 221);
	text-decoration: underline;
}

.botones{
	width: 100%;
	background: #60c7c1;
	border: none;
	padding: 12px;
	color: white;
	margin: 16px 0;
	font-size: 16px;
}
.condiciones{
    margin: 0 auto;
    position: relative;
	text-align: center;
}